@import "../variables";

.login-form {
  padding: 15% 10%;
}
.register-form {
  padding: 10%;
}
.title {
  color: $primary-color;
}
.auth-card {
  padding: 3em 3em;
}
@media (max-width: 575.98px) {
  .login-form {
    padding-top: 200px;
    padding-bottom: 310px;
  }
  .register-form {
    padding-top: 150px;
    padding-bottom: 200px;
  }
}